body {
font-family: "Verdana", sans-serif;
background-color: black;
text-align: center;
font-size: 16px;
}

h1 {
color: white;
font-weight: normal;
font-size: 3.125rem;
text-align: center;
}
h2 {
color:white;
font-size: 2.625rem;
font-weight: 300;

p {
font-size: 1.3125rem;
color: gray;
}

p a {
font-size: 1rem;
color: aquamarine;
}

.copyright {
color: gray;
text-align: right;
}
